@import "../../mixins.scss";

header {
    overflow: hidden;
    background: var(--white);

    .dekstop-nav {
        padding: 20px 40px;
        align-items: center;
        display: none;

        @include lg {
            display: flex;
        }
    }

    .site-logo {
        img {
            max-width: 100px;
            max-height: 100px;

            @include xsm {
                max-width: 150px;
                max-height: 150px;
            }
        }
    }

    .nav {
        gap: 30px;
        margin-left: 40px;

        a {
            color: var(--black1);
            font-size: 16px;
            font-weight: 500;

            @include lg {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 2px;
                    background: var(--greenHover);
                    bottom: -3px;
                    left: 0;
                    transition: all 0.4s;
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }

            &:hover {
                color: var(--greenHover);
            }
        }
    }

    .contact-nav {
        margin-left: auto;
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        gap: 30px;

        .link {
            a {
                @include lg {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        background: var(--greenHover);
                        bottom: -3px;
                        left: 0;
                        transition: all 0.4s;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
            }
        }

        a {
            color: var(--black1);
            font-size: 16px;
            font-weight: 500;
            position: relative;

            &:hover {
                color: var(--greenHover);
            }

            svg {
                min-width: 30px;
                min-height: 30px;
            }

            >span {
                color: var(--greenHover);
                font-weight: 700;
            }

            span.item {
                position: absolute;
                top: -11px;
                right: -4px;
                z-index: 9;
                color: var(--white);
                margin-left: 0;
                font-size: 14px;

                &::after {
                    display: none;

                }
            }

            span+span {
                margin-left: 4px;
                position: relative;
                font-weight: 600;

                &::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 20px;
                    top: -10px;
                    right: -10px;
                    background: var(--green);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: var(--black1);
                }
            }
        }
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        padding: 20px 0;

        @include lg {
            padding: 20px 40px;
            display: none;
        }

    }
}

.offcanvas-title {
    a {
        color: var(--black1);

        &:hover {
            color: var(--greenHover);
        }
    }

    svg {
        max-width: 35px;
        max-height: 35px;
        min-width: 35px;
        min-height: 35px;
    }
}

.offcanvas-body {
    .nav {
        display: flex;
        flex-direction: column;

        a {
            color: var(--black1);
            font-size: 16px;
            font-weight: 500;
            display: block;

            &:hover {
                color: var(--greenHover);
            }
        }

        li {
            padding: 16px 0;
            margin-bottom: 0;
            border-bottom: 1px solid var(--black1);
        }
    }
}